.layout{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display:flex;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items:center;
}

.justify-center{
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}

.f-w-500{
    font-weight: 500;
}
.f-w-600{
    font-weight: 600;
}
.f-w-700{
    font-weight: 700;
}
.letter-spacing2{
    letter-spacing: 2px;
}
.btn2{
    width: 140px;    
}

.flex2{
    flex:2;
}
.flex3{
    flex:0.7;
}

.my-t-10{
    margin-top: 10px;
}
.my-t-20{
    margin-top: 20px;
}


.pd-t-30{
    padding-top: 30px;
}
.w55{
    width: 55%;
}
.text-center{
    text-align: center;
}
.font-size{
    font-size: 40px;
}

.clr{
    background: rgb(2,0,36);
    background:linear-gradient(90deg,rgba(2,0,36,1)0%,rgba(50,50,51,1)35%,rgba(0,212,255,1)100%);
    background: linear-gradient(to right,#040404,#242424,#656565);
    color:var(--primary--color);
}
